Makefile
autom4te.cache
bf_register.c
bf_register.h
bf_register.lastrun
clean-keeps-keywords
clean-keeps-moo
clean-keeps-parser
configure
config.h
options.h
config.log
config.status
config.lastrun
config.cache
extensions2.ac
keywords.c
parser.c
testing.ac
uT-*
version_options.h
version.lastck
version_src.h
version_make.h
version_make.t
y.tab.h
/.l8tf-install.prev
/.l8tf-install.prev.sh
*.o
moo
*.db
\#*\#
.\#*
*.bak
*.d
configure~
